{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css" integrity="sha256-jLWPhwkAHq1rpueZOKALBno3eKP3m4IMB131kGhAlRQ=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.js" integrity="sha256-h/8r72lsgOmbQuoZKT6x3MwmqPIBN9rgiD23Bzgd2n4=" crossorigin="anonymous"></script>
</head>
<body>
    <br><br>
    <div id="calendar"></div>
    <script>

        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
         
          initialView: 'dayGridMonth', 
          themeSystem: 'bootstrap5',
          eventColor: 'green',
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,listWeek'
            },
          events: [
          {% for event in events_approved %}
            {
                title: '{{ event.title }}',
                start: '{{ event.start }}',
                end: '{{  event.end }}'
            },
            {% endfor %}
            {% for event in events_pending %}
            {
                title: '{{ event.title + "  pending" }}',
                start: '{{ event.start }}',
                end: '{{  event.end }}',
                color: 'gray'
            },
            {% endfor %}
            ]
        });

        calendar.render();
 

    </script>
</body>
{%  endblock %}