{% extends "base.html" %} {% block title %}Request Management Page{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
{% for message in get_flashed_messages() %}
<script>       
  $(function(){

    $('#alert').removeClass('d-none');
    
    setTimeout(() => {
      $('.alert').alert('close');
    }, 2000);
    
  })
</script>
<div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %}

<h1>This is the Requests management page</h1>
<br /><br /><br />
<table class="table">
  <thead>
    <th scope="col">Id</th>
    <th scope="col">Request created at:</th>
    <th scope="col">User requested</th>
    <th scope="col">Vacation from:</th>
    <th scope="col">Vacation to:</th>
    <th scope="col">Request status:</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <td>{{ request.id_ }}</td>
      <td>{{ request.date_created }}</td>
      <td>{{ request.parent.name }}</td>
      <td>{{ request.request_from }}</td>
      <td>{{ request.request_to }}</td>
      <td>{{ request.status }}</td>
      <td>
        <span>
          <a href="/{{ request.id_ }}/edit_request">
            <i class="bi bi-pencil-square"></i
          ></a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
