{% extends "base.html" %} {% block title %}Request Management Page{% endblock %}
{% block content %}

<h1>This is the Requests management page</h1>
<br /><br /><br />
<table class="table">
  <thead>
    <th scope="col">Id</th>
    <th scope="col">Request created at:</th>
    <th scope="col">User requested</th>
    <th scope="col">Vacation from:</th>
    <th scope="col">Vacation to:</th>
    <th scope="col">Request status:</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <td>{{ request.id_ }}</td>
      <td>{{ request.date_created }}</td>
      <td>{{ request.parent.name }}</td>
      <td>{{ request.request_from }}</td>
      <td>{{ request.request_to }}</td>
      <td>{{ request.status }}</td>
      <td>
        <span>
          <a href="/{{ request.id_ }}/edit_request">
            <i class="bi bi-pencil-square"></i
          ></a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
