{% extends "base.html" %} {% block title %}Vacation request{% endblock %} {%
block content %}
<h1>This is the Vacation request page</h1>
<h2 style="font-size: 24px">
  You have {{ user.leave_requests()["balance"] }} day(s) of leave left
</h2>
<br />
<a class="btn btn-primary" href="/{{ user.id_ }}/new_request" role="new_request">Get new request</a>
<br></br>
{%  if user.vacation_requests %}
    <br /><br /><br />
    <table class="table" >
    <thead>
        <th scope="col">Vacation from: </th>
        <th scope="col">Vacation to: </th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
    {% for request in user.vacation_requests %}
    <tr>
      
      <td>{{ request.request_from }}</td>
      <td>{{ request.request_to }}</td>
      <td>{{ request.status }}</td>

    
      <td>
        <span>
          <a href="/{{ request.id_ }}/delete">
            <i class="bi bi-trash3"></i
          ></a>
            </span>
        </td>
        </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}
